{% extends 'base.html' %}
{% load static %}
{% block content %}
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="{% static 'img/tdmu.jpg' %}" alt="..." /></a>
                        <div class="card-body">
                            <h2 class="card-text">Lỗi không tìm thấy trang</h2>
                            <a href="/"><h2 class="card-text h4">Quay lại trang chủ</h2></a>

                        </div>
                    </div>

{% endblock %}