{% extends 'base.html' %}
{% load static %}
{% block content %}
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="{% static 'img/tdmu.jpg' %}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">Ngành Hệ Thống Thông tin | Viện Kĩ Thuật Công Nghệ | Đại Học Thủ Dầu Một</div>
                            <h1 class="card-title">Báo cáo tốt nghiệp 2021 - 2022 </h1>

                            <p class="card-text">Tên đề tài: <b>Xây dựng bảng tin rút gọn về dịch bệnh Covid-19 bằng kỹ thuật Text mining</b>
                            <br>
                                GVHD: <b>Ths. Dương Thị Kim Chi</b>
                                <br>
                                Sinh viên thực hiện: <b>Hoàng Kim Tuyến</b> | D18HT01
                            </p>

                            <p class="card-text">Trích rút từ khoá từ trang web là một bài toán hay của hệ thống bài toán trích rút từ khoá
cho một văn bản. Ở mức cao hơn, nó là một bài toán con trong hệ thống trích xuất thông
tin (Information Retrieval). Trong nhiều năm qua, bài toán này đã được đề cập, quan tâm
nhiều ở các hội nghị quốc tế và các công ty lớn. Bài toán trích rút từ khoá từ trang web
là việc trích rút từ khóa trong văn bản nội dung trang web. Đây cũng là vấn đề khá mới
mẻ và được áp dụng trong rất nhiều lĩnh vực khác nhau như: Hỗ trợ tìm kiếm, hỗ trợ gợi
ý người dùng, tóm tắt văn bản, v.v.</p>

                            <p class="card-text">Việc đọc và tóm tắt nội dung của các văn bản trên Internet rất khó khăn và tốn nhiều thời
gian cho con người, đến mức gần như không thể đạt được với nguồn nhân lực hạn chế
khi kích thước của thông tin tăng lên. Kết quả là các hệ thống tự động thường được sử
dụng để thực hiện nhiệm vụ này. </p>

                            <p>
                               Trong đồ án tốt nghiệp này, người thực hiện đề tài đã nghiên cứu và thực hiện các
phương pháp trích rút từ khóa và tóm tắt văn bản trang web mang nội dung về dịch bệnh
Covid-19 sử dụng kỹ thuật Text mining, nhằm xây dựng một bản tin Covid-19 với nội
dung ngắn gọn, giúp người đọc tiết kiệm thời gian và nắm được sơ bộ nội dung chính
của bài báo, giúp cho việc tìm hiểu và tổng hợp thông tin được dễ dàng hơn.

                            </p>


                        </div>
                    </div>

{% endblock %}