{% extends 'base.html' %}
{% load static %}
{% block content %}
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="{% static 'img/tdmu.jpg' %}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">Ngành Hệ Thống Thông tin | Viện Kĩ Thuật Công Nghệ | Đại Học Thủ Dầu Một</div>
                            <h1 class="card-title">Báo cáo tốt nghiệp 2021 - 2022 </h1>

                            <p class="card-text">Tên đề tài: <b>Xây dựng bảng tin rút gọn về dịch bệnh Covid-19 bằng kỹ thuật Text mining</b>
                            <br>
                                GVHD: <b>Ths. Dương Thị Kim Chi</b>
                                <br>
                                Sinh viên thực hiện: <b>Hoàng Kim Tuyến</b> | D18HT01
                            </p>

                            <p class="card-text">Hiện nay tất cả thông tin dữ liệu của con người đều được đăng tải lên mạng xã hội,
                                trang báo điện tử dưới dạng dạng văn bản, số, âm thanh, video. Trong đó chiếm đa số là dạng văn bản.
                                Dữ liệu được cung cấp tới chúng ta hàng ngày, các trang báo luôn đăng tải thông tin bài viết của
                                họ lên mạng xã hội để cho người  đọc biết được thông tin sự vật, sự việc,
                                hiện tượng hay sự kiện nổi bật trong ngày mà xã hội quan tâm</p>

                            <p class="card-text">Các bài báo về dịch bệnh Covid cũng không nằm ngoài số đó.
                                Tuy nhiên một tình trạng mà các trang báo nào cũng từng gặp phải đó
                                là việc đăng tải  thông tin nội dung quá dài,
                                khiến cho người đọc có thể xảy ra trang thái lười đọc hoặc không đọc
                                vì nội dung của bài báo quá dài và không tập trung vào nội dung chính.</p>
                            <p>
                                Nhưng với thời đại công nghệ 4.0 tiên tiến việc áp dụng công nghệ vào
                                xử lý các các nội dung văn bản là điều cần thiết. Chính vì vậy
                                Tôi đã chọn đề tài “Xây dựng bảng tin rút gọn về dịch bệnh Covid-19 bằng kỹ thuật Text mining”
                                nhằm tạo ra một hệ thống hỗ trợ người đọc trích xuất nội dung
                                thông của bài báo covid-19 một cách ngắn nhất mà
                                vẫn giữ được nội dung chính của bài báo,
                                hệ thống sẽ sử dụng kỹ thuật Text Mining
                                 để trích xuất đặc trưng và kích thước
                                của bài báo sẽ được giảm xuống. Giúp người đọc hiểu được sơ bộ nội dung chính
                                của bài báo mà họ sắp đọc.
                            </p>


                        </div>
                    </div>

{% endblock %}